@model BlogReader.Core.Services.GetRssFeedContentResponse
@{
    ViewData["Title"] = "Home Page";
}
<amp-story standalone
           title="@Model.Title"
           publisher="Test Publisher"
           publisher-logo-src="/images/logo.svg"
           poster-portrait-source="/images/cover.png">

    @foreach (var contentItem in Model.ContentItems)
    {
        <amp-story-page id="cover">

            <amp-story-grid-layer template="fill">
                <amp-img src="@contentItem.ImageLink"
                         layout="responsive">
                </amp-img>
                <amp-story-grid-layer template="thirds">

                    <h1 grid-area="upper-third">@contentItem.Title</h1>
                    <p grid-area="lower-third" animate-in="drop">
                        @Html.Raw(contentItem.SummaryTextWithNoImages)
                    </p>

                </amp-story-grid-layer>
            </amp-story-grid-layer>

        </amp-story-page>
    }
</amp-story>